.forgot-password {
  background-color: var(--main);
  height: 100vh;
  text-align: center;
  padding: 5rem 5%;
}

/* .wrapper {
  
} */

.forgot-password h2{
  font-size: 1.5rem;
  color: var(--text);
  margin-bottom: 2rem;
}
.passreset-form {
  background-color: white;
  height: 10rem;
  padding: 3rem 2rem;
  border-radius: 1rem;
  width: 70%;
  margin: 0 auto;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.passreset-input-box {
  display: flex;
  align-items: center;
  border: 1px solid var(--grey);
  height: 3rem;
  border-radius: 30px;
  position: relative;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.passreset-input-box input {
  border: none;
  outline: none;
  margin-left: 1rem;
  width: 90%;
}

.passreset-input-box label {
  position: absolute;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey);
  transition: all 300ms;
  background-color: var(--white);
  padding: 1px 5px;
  z-index: 10;
}

.passreset-input-box input:focus + label,
.passreset-input-box input:valid + label {
  top: -5%;
  color: var(--main);
}

.input-box i {
  font-size: 1.5rem;
  color: var(--main);
}

@media (max-width: 768px) {
  .passreset-form {
    width: 85%;
  }
}
